.advantages__heading {
  font-family: @font-family-base;
  font-size: @font-size-h2;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: @color-h-base;
  .clear__indent();
}

.advantages__list {
  display: flex;
  flex-direction: column;
  .clear__indent();
}

.advantages__item {
  font-family: @font-family-text;
  font-size: @font-size-text;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: @color-text;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    /*Временно для ДЗ*/
    width: 618px;
  }
  .advantages__item {
    /*Временно для ДЗ*/
    width: 230px;
    padding-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
