.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  background-color: @color-button;

  font-family: @font-family-base;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-h-button;

  &:hover {
    background-color: @color-button-hover;
  }

  &:active {
    background-color: @color-button-hover;
  }

  &:active span {
    opacity: 0.3;
  }
}

.button--promo {
  font-size: @font-size-text;
  line-height: 1.29;
}

.cards-list__item--button {
  margin-top: -3px;
  font-size: @font-size-text-h;
}

.button--more {
  font-family: @font-family-base;
  font-size: @font-size-text-h;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: @color-text;
  background-color: @card-color;

  &:hover {
    background-color: @button-more-hover-color;
  }

  &:active {
    background-color: @button-more-hover-color;
  }

  &:active span {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .button {
    height: 40px;
  }

  .button--promo {
    width: 245px;
    height: 52px;
    margin-top: 45px;
    margin-left: 68px;
    font-size: @font-size-menu;
  }

  .cards-list__item--button {
    width: 250px;
    height: 40px;
    margin-top: 0;
  }

  .button--more {
    width: 250px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .cards-list__item--button {
    width: 170px;
  }

  .button--promo {
    height: 52px;
    margin-top: 52px;
    margin-left: 80px;
  }

  .button--more {
    width: 170px;
  }
}
