.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  background-color: @color-button;

  font-family: @font-family-base;
  text-align: center;
  text-decoration: none;
  color: @color-h-button;
    &:hover {
      background-color: @color-button-hover;
    }
    &:active {
      background-color: @color-button-hover;
    }
    &:active > span {
      opacity: 0.3;
    }
}

.button--more {
  font-family: @font-family-base;
  font-size: @font-size-text-h;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: @color-text;
}
