.cards-list {
  .clear__indent();
}

.cards-list__item {
  list-style: none;
  padding: 25px 18px 25px 20px;
  .border__block();
}

.cards-list__item--more {
  padding: 27px 20px 25px 20px;
}

.cards-list__heading {
  font-family: @font-family-base;
  font-size: @font-size-text-h;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: @color-h-base;
  .clear__indent();
}
