.cards-list {
  display: flex;
  flex-direction: column;
  .clear__indent();
}

.cards-list__item {
  display: flex;
  flex-direction: column;
  padding: 25px 18px 25px 20px;
  list-style: none;
  .border__block();
}

.card__wrapper {
  display: flex;
}

.cards-list__item-img {
  order: -1;
}

.cards-list__item--more {
  padding: 27px 20px 25px 20px;
}

.cards-list__heading {
  font-family: @font-family-base;
  font-size: @font-size-text-h;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: @color-h-base;
  .clear__indent();
}

@media (min-width: @tablet-width) {
  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards-list__item {
    flex-grow: 1;
  }
}
