.cards-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  .clear__indent();
}

.cards-more__button {
  width: 31px;
  height: 31px;
  .clear__indent();
  margin-bottom: 25px;
  border: none;
  background: url("../img/icon-plus-mobile.svg") no-repeat;
  opacity: 0.2;
}


.cards-more__heading {
  margin-bottom: 10px;

  font-family: @font-family-base;
  font-size: @font-size-text-h;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: @color-h-base;
}

.cards-more__subheading {
  margin-bottom: 20px;

  font-family: @font-family-text;
  font-size: @font-size-subtext;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: @color-text;
}
