.catalog-cards__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog-cards__heading {
  position: relative;
  .clear__indent();
  padding-top: 16px;
  padding-left: 20px;
  padding-bottom: 28px;
  margin-top: -1px;
  font-family: @font-family-base;
  font-size: @font-size-h2;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: @color-h-base;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: #ededed;
  }

  &::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: #ededed;
  }
}

@media (min-width: @tablet-width) {
  .catalog-cards__wrapper {
    width: 708px;
    margin-bottom: 70px;
  }

  .catalog-cards__heading {
    padding-top: 35px;
    padding-left: 0;
    padding-bottom: 70px;
    margin-bottom: 97px;
    font-size: @font-size-h2-tablet;
    line-height: 1;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-cards__wrapper {
    width: 1200px;
  }
}
