.footer {
  background-color: @card-color;
}

.footer__container {
  width: 280px;
  margin: 0 auto;
}

.footer__footer-logo {
  padding-top: 39px;
  padding-bottom: 30px;
}

.footer__social-buttons {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: @article-line-color;
  }
}

.footer__academy-logo {
  position: relative;
  padding-top: 20px;
  padding-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  .footer__footer-logo {
    width: 162px;
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .footer__social-buttons {
    width: 324px;
    padding-top: 3px;
    padding-right: 18px;

    &::before {
      display: none;
    }
  }

  .footer__academy-logo {
    width: 165px;
    padding-top: 55px;
    padding-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .footer__container {
    display: flex;
    width: 1220px;
  }

  .footer__footer-logo {
    padding-top: 58px;
  }

  .footer__social-buttons {
    padding-top: 0;
    padding-bottom: 18px;
  }

  .footer__academy-logo {
    padding-top: 55px;
  }
}
