html {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  .clear__indent();
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: @desktop-width) {
  .index-body {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: top right;
    background-size: 50% 696px;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
