.header-logo {
  .border__block();
}

.header-logo__link {
  text-decoration: none;
}

.header-logo__img:hover {
  opacity: 0.8;
}

.header-logo__img:active {
  opacity: 0.6;
}

.header-logo__button {
  width: 25px;
  height: 19px;
  .clear__indent();
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
}

@media (min-width: @tablet-width) {
  .header-logo__button {
    display: none;
  }

  .header-logo {
    border: none;
  }
}
