.header-logo__link {
  text-decoration: none;
}

.header-logo__link:hover {
  opacity: 0.8;
}

.header-logo__link:active {
  opacity: 0.6;
}

.header-logo__button {
  display: none;
  width: 19px;
  height: 19px;
  .clear__indent();
  border: none;
  background: url("../img/icon-close.svg") no-repeat;
}

@media (min-width: @tablet-width) {
  .header-logo__button {
    display: none;
  }

  .header-logo {
    border: none;
  }
}
