.index-main__promo-info {
  padding: 28px 20px 0px 20px;
  margin-bottom: 22px;
}

.index-main__thin-article {
  padding: 22px 35px 20px 20px;
  margin-bottom: 20px;
}

.index-main__athletic-article {
  padding: 24px 52px 20px 20px;
  margin-bottom: 30px;
}

.index-main__advantages {
  padding-left: 20px;
  padding-right: 27px;
  margin-bottom: 42px;
}
