.promo-info__heading {
  font-family: @font-family-base;
  font-size: @font-size-h2;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: @color-h-button;
}

.promo-info__subheading {
  font-family: @font-family-base;
  font-size: @font-size-text;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: @color-h-button;
}

.promo-info__button {
  /*width: 280px;
  display: block;
  position: relative;
  z-index: 1; */
  font-family: @font-family-base;
  font-size: @font-size-text;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: @color-h-button;
    &::before {
      width: inherit;
      height: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      content: "";
      top:0;
      left: 0;
      background-color: @color-button;
    }
}
