.promo-info {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo-info__heading {
  .clear__indent();
  font-family: @font-family-base;
  font-size: @font-size-h2;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: @color-h-button;
}

.promo-info__subheading {
  font-family: @font-family-base;
  font-size: @font-size-text;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: @color-h-button;
}

.promo-info__button {
  /*width: 280px;
  display: block;
  position: relative;
  z-index: 1; */
  font-size: @font-size-text;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .promo-info {
    background-image: none;
  }

  .promo-info__heading {
    color: @color-h-base;
  }

  .promo-info__subheading {
    color: @color-h-base;
  }
}

@media (min-width: @desktop-width) {
  .promo-info {
    position: relative;
    z-index: -1;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    margin-top: -120px;
    margin-left: 600px;
  }

  .promo-info__wrapper {
    position: absolute;
    width: 600px;
    top: 115px;
    left: -600px;
  }
}
