.site-nav__list {
  .clear__indent();
}

.site-nav__item {
  list-style: none;
  .border__block();
  padding-top: 24px;
  padding-bottom: 20px;
}

.site-nav__item--prog {
  .clear__indent();
}

.site-nav__link {
  font-family: @font-family-sup;
  font-size: @font-size-menu;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-h-base;
}
