.site-nav__list {
  display: flex;
  flex-direction: column;
  .clear__indent();
}

.site-nav__item {
  list-style: none;
  .border__block();
  padding-top: 24px;
  padding-bottom: 20px;
}

.site-nav__item--prog {
  .clear__indent();
}

.site-nav__link {
  font-family: @font-family-sup;
  font-size: @font-size-menu;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-h-base;
}

@media (min-width: @tablet-width) {
  .site-nav__list {
    display: flex;
    flex-direction: row;
  }
  .site-nav__item {
    padding-left: 20px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .site-nav__link--white {
    color: @color-h-button;
  }
  .site-nav__item {
    padding: 70px 40px 20px 20px;
    border: none;
  }
}
