.thin-article {
  background-color: @card-color;
}

.thin-article__heading {
  position: relative;
  .article__heading();
  .clear__indent();
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 70px;
  margin-bottom: 24px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: @color-button;
    }
    &::after {
      position: absolute;
      content: "";
      top: 1px;
      left: 9px;
      width: 35px;
      height: 50px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
}

.thin-article__text {
  position: relative;
  width: 240px;
  .article__text();
  .clear__indent();
  margin-bottom: 41px;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -23px;
      width: 240px;
      height: 1px;
      background-color: @article-line-color;
    }
}

.thin-article__link {
  position: relative;
  .article__link();
  .clear__indent();
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      right: -35px;
      width: 25px;
      height: 12px;
      background-image: url("../img/icon-right-arrow-long.svg");
      background-repeat: no-repeat;
    }
    &:active {
      opacity: 0.3;
    }
}

.thin-article__link:hover::after {
  right: -44px;
  width: 34px;
  height: 12px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .thin-article__heading {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: @font-size-h2;
    line-height: 1.03;
    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 395px;
      width: 200px;
      height: 200px;
      border-radius: 200px;
      background-color: @color-button;
    }
    &::after {
      position: absolute;
      content: "";
      top: 5px;
      left: 423px;
      width: 141px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  .thin-article__text {
    width: 375px;
    margin-bottom: 53px;
    font-size: @font-size-text-h;
    line-height: 1.5;
      &::after {
        display: none;
      }
  }

  .thin-article__link {
    font-size: @font-size-menu;
    line-height: 1;
      &::after {
        top: 10px;
        right: -47px;
      }
  }
}

@media (min-width: @desktop-width) {
  .thin-article__heading {
    padding-top: 35px;
    padding-left: 22px;
    margin-bottom: 70px;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-color: @color-button;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 14px;
      width: 71px;
      height: 97px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  .thin-article__text {
    width: 465px;
    margin-bottom: 30px;
  }
}
